# telegram
TOKEN=token
# optional
PROXY=http://proxy

# postgres
DB_NAME=bot
DB_USER=username
DB_PASSWORD=password
# standard for docker-compose
# change only if you don't use docker-compose
DB_HOST=db
DB_PORT=5432
