
# python cache
**/__pycache__
*.py[cod]

# other cache
.mypy_cache
.ruff_cache
.pytest_cache

# virtual environment
.venv
venv

# environment var
.env
.env.*
!.env.example

#coverage
.coverage
htmlcov

#database
*.db